@charset "UTF-8";

:root {
  --corVerde: #49a09d;
  --corLilas: #5f2c82;
}

@media screen and (min-width: 768px) {
  body {
    background: linear-gradient(to top, var(--corVerde), var(--corLilas));
  }
  #login {
    width: 80vw;
  }

  #login > #imagem {
    float: left;
    width: 30%;
    height: 100%;
  }

  #login > #formulario {
    float: right;
    width: 70%;
  }
}

@media screen and (min-width: 992px) {
  #login {
    width: 990px;
  }

  #login > #imagem {
    width: 50%;
  }

  #login > #formulario {
    width: 50%;
  }
}
